<h1>Add Employee (MongoDB)</h1>

<form action="/employeesMongoDB/add" method="POST">
    <label>EID: </label>
    <input type="text" name="_id"/><br />
    <label>Phone</label>
    <input type="text" name="phone"/><br />
    <label>Email</label>
    <input type="text" name="email"/><br />
    <input type="submit" value="Add" /></button><br />
</form>
<a href="/">Home</a>