<h1>Employees</h1>
<table border="1">
  <tr>
    <th>EID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Salary</th>
    <th>Update</th>
  </tr>
<% students.forEach((student) => { %>
  <tr>
    <td><%= student.id %></td>
    <td><%= student.name %></td>
    <td><%= student.course %></td>
  </tr>
<% }) %>
</table>
